@()
<div class="screen">
  <span class="center-column"></span><span class="center-box">
    <div class="logo">Simple Chat</div>
    <div class="logo-sub">PlayFramework and Riak</div>
    <div class="space-l"></div>
    <div class="button-large-accent" id="index-signup">Sign up</div>
    <div class="space-s"></div>
    <div class="button-large-normal" id="index-signin">Sign in</div>
    <div class="space-m"></div>
    <a class="index-link dev-link" href="/developer">developer</a><br>
    <a class="index-link dev-link" href="https://github.com/yoshik/simple-chat">github</a>
  </span>
</div>