@()
<div class="screen">
  <div class="base-wrap">
    <div class="base">
      <div class="space-l"></div>
      <div class="form-title">
        Sign in
      </div>
      <div class="space-m"></div>
      <div class="form">
        <label for="username">username</label>
        <input type="text" id="signin-username" placeholder="username" />
      </div>
      <div class="space-s"></div>
      <div class="form">
        <label for="password">password</label>
        <input type="text" id="signin-password" placeholder="password" />
      </div>
      <div class="space-s"></div>
      <div class="form-button">
        <div class="button-normal" id="signin-cancel">Cancel</div>
        <div class="button-accent" id="signin-submit">Submit</div>
      </div>
      <div class="space-s"></div>
      <div class="form-result" id="signin-result"></div>
      <div class="space-l"></div>
    </div>
  </div>
</div>