@()

<!DOCTYPE html>

<html>
  <head>
    <title>riak chat</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("less/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("image/favicon.png")">
  </head>
  <body>
    <div class="screen">
      <div class="navbar">
        <a href="/" class="logo-sub dev-nav">Simple Chat</a>
      </div>
      <div class="base-wrap">
        <div class="base dev-links">
          <div class="navbar-column"></div>
          <div class="space-l"></div>
          <a class="dev-link" href="/developer/user">user</a>
          <div class="space-s"></div>
          <a class="dev-link" href="/developer/timeline">timline</a>
          <div class="space-s"></div>
          <a class="dev-link" href="/developer/registration">registration</a>
          <div class="space-s"></div>
          <a class="dev-link" href="/developer/post">post</a>
          <div class="space-s"></div>
          <a class="dev-link" href="/developer/signin">signin</a>
          <div class="space-l"></div>
        </div>
      </div>
    </div>
  </body>
</html>
