@()

<!DOCTYPE html>

<html>
  <head>
    <title>riak chat</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("less/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("image/favicon.png")">
  </head>
  <body>
    <a href="/developer/user">user</a>
    <a href="/developer/timeline">timline</a>
    <a href="/developer/registration">registration</a>
    <a href="/developer/post">post</a>
    <a href="/developer/signin">signin</a>
  </body>
</html>
