@()

<!DOCTYPE html>

<html>
  <head>
    <title>riak chat</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("less/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("image/favicon.png")">
  </head>
  <body>
    <div id="view"></div>
    <script type="text/template" id="index"   >@view.index()</script>
    <script type="text/template" id="signup"  >@view.signup()</script>
    <script type="text/template" id="signin"  >@view.signin()</script>
    <script type="text/template" id="timeline">@view.timeline()</script>
    <script type="text/template" id="cell"    >@view.cell()</script>

    <script type="text/javascript" src="@routes.Assets.at("javascript/zepto.min.js")"></script><!--thanks Thomas Fuchs-->
    <script type="text/javascript" src="@routes.Assets.at("javascript/hogan.min.js")"></script><!--thanks twitter-->
    <script type="text/javascript" src="@routes.Assets.at("javascript/lockr.min.js")"></script><!--thanks tsironis-->
    <script type="text/javascript" src="@routes.Assets.at("javascript/viewcontroller.min.js")"></script>

  </body>
</html>
