/*
#.form-title
```
<div class="form-title">
  Registration
</div>
```

#.form
```
<div class="form">
  <label for="password">password</label>
  <input type="text" id="password" placeholder="password" />
</div>
```

#.form-button
```
<div class="form-button">
  <div class="button-normal">Cancel</div><div class="button-accent">Submit</div>
</div>
```

*/
.form *{
  .font-lato;
  .text-color;
  font-size: 24px;
  height: 24pt;
  line-height: 24pt;
  margin:0;
  padding: 0;
}

.form input{
  box-sizing:border-box;
  border:0;
  width:150px;
  background-color: @BACKGROUND_COLOR;
  border-radius: 4px;
  padding-left: 8px;
}

.form label{
  display:inline-block;
  width:100px;
}

.form input::-webkit-input-placeholder {
  text-shadow:0px 0px 0px #fff;
}
.form input:-moz-placeholder {
  text-shadow:0px 0px 0px #fff;
}

.form-title{
  .font-lato;
  .text-color;
  font-size: 36pt;
}

.form-button {
  text-align: right;
  padding-right: 25%;
}
.form-button *{
  display: inline-block;
  margin-left: 10px;
}
